<!DOCTYPE html>
<html>
  <head>
    <title>MIKE LEE</title>


  </head>

  <body>
    <%= yield %>

    <p>	Hi, my name is mike of korea/hk. I'm a junior at the university of california berkeley. I am most exicted to build an interesting project. :) </p>

  </body>


  </body>
</html>
